[Unit]
Description=JalexWeb

[Service]
WorkingDirectory=/var/www/jalexweb
ExecStart=/usr/bin/dotnet /var/www/jalexweb/JalexWeb.dll
Restart=always
RestartSec=10
SyslogIdentifier=JalexWeb
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOPPLER_ACCESS_KEY=abc123

[Install]
WantedBy=multi-user.target
